html, body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}


.bg-cyan {
	background-image: url(img/bg-cyan.jpg);
}

.body-s {
    z-index: 300;
    position:fixed;
    width:750px;
    top: 100px;
    left: 50%;
    margin-left: -375px;
    /* bring your own prefixes */
}

.logo {
    max-height: 1em;
    vertical-align: top;
    margin: 6px; 
}

.config-menu-1{
     transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    z-index: 100;
    position:fixed;
    top: 15%;
    left:calc(100% + 400px);
    transform: translate(-100%);
    width: 450px;
    height: 50px;
    /*background-color:#2DA5DA;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border-radius: 10px 0px 0px 10px;
}

.config-menu-2{
     transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    z-index: 100;
    position:fixed;
    top: 22%;
    top: calc(15% + 65px);
    left:calc(100% + 400px);
    transform: translate(-100%);
    width: 450px;
    height: 50px;
    /*background-color:#2DA5DA;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border-radius: 10px 0px 0px 10px;
}

.config-menu-3 {
    transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    z-index: 100;
    position:fixed;
    top: 10%;
    top: calc(15% - 65px);
    left:calc(100% + 400px);
    transform: translate(-100%);
    width: 450px;
    height: 50px;
    /*background-color:#2DA5DA;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border-radius: 10px 0px 0px 10px;
}

.config-menu-3.is-active{
    transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    left:100%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;    
}

.config-menu-3.is-active.established{

    transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: rgb(157,213,58); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;    
}
.config-menu-3.established {
    transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    z-index: 100;
    position:fixed;
    top: 10%;
    top: calc(15% - 65px);
    left:calc(100% + 400px);
    transform: translate(-100%);
    width: 450px;
    height: 50px;
    /*background-color:#2DA5DA;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: rgb(157,213,58); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    border-radius: 10px 0px 0px 10px;
}

label.select.selapp {
    display:inline-table !important;
    height: 20px;

}

#selectapp{
    position: fixed !important;
    top: 6px !important;
    width: 280px !important;
}

.selapp i{
    position: fixed !important;
    top: 20px !important;
    right: 130px !important;
}

#applyapp {
    display:inline-table !important;
    margin: 0px;
    height: 39px;
    position: fixed !important;
    top: 6px !important;
    right: 20px;
    color: #2791BF;
    background-color: #FFF;
    opacity: 1 !important;
}

#applyapp:hover {
    opacity: 0.8 !important;
    transition: transform 1.0s;
    -webkit-transition:all ease 0.3s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -o-transition-duration: 1s;    
}

#selectapp option {
    max-width: 280px !important;
}

@font-face
{
	font-family: 'FontAwesome';
	src: url('/resources/ChartGen/icons/fontawesome-webfont.eot?v=3.0.1');
	src: url('/resources/ChartGen/icons/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('/resources/ChartGen/icons/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('/resources/ChartGen/icons/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-cog-def:before {
  content: "\f013";
}

.config-menu-1.sky-form, .config-menu-2.sky-form {
    box-shadow: none;
    font-size: 31px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
}

.config-menu-3.sky-form{
    box-shadow: none;
    font-size: 31px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
}

.config-menu-3.sky-form i{
    margin-left: 12px;
    padding-right: 14px;
    border-right: solid 1px #FFF;
}

#show_dialog a i, #show_filter a i,  #apps a i {
    margin-left: 12px;
    color: #FFFFFF;
}

.button.config {
    max-width:50px;
    text-align: left;
    background: none;
    color:#5F5F61;
}

.fa.fa-times {
    float: right;
}

.sky-form .col-2 {
    padding-right: 0px;
}

.qv-global-selections {
    z-index: 500;
}

.object {
    margin: 5px;
}

.container {
    width: 1400px !important;
}

.fx {
    position: absolute;
    right: -30px;
    text-align: center;
    background-color: #2DA5DA;
    height: 38px;
    width: 30px;
    z-index: -2;
}

.fx i {
    color: #FFF;
    margin: 8px 0px 10px;
    font-size: 20px;
}

.divmarker {
    vertical-align: middle;
    line-height: 25px;
    font-size:16px;
    text-align: center;
    color: #FFF;
    z-index: 2;
    height: 25px;
    width: 25px;
    position:absolute;
    top:0px;
    right:0px;
    /*background-color: #2791BF;*/
    border-radius: 30px;
    opacity: 1;
    box-shadow: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.col-md-4, .col-md-8, .col-md-6, .col-md-12 {
    padding: 7px !important;
    margin: 0px !important;
}

.col-md-4 .object, .col-md-8 .object, .col-md-6 .object, .col-md-12 .object {
    padding: 0px !important;
    margin: 0px !important;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}